# Base de datos (idempotencia)
DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root123
DB_NAME=notification_db

# RabbitMQ
RABBITMQ_URL=amqp://rabbitmq:5672

# SMTP (envío de correos)
SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USER=apikey
SMTP_PASS=
FROM_EMAIL=no-reply@cmr.com
FROM_NAME=CMR
